<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <form  method="POST">
        <tr>
            <td>Name</td>
            <td><input type="text" class="form-control" name="name"></td>
        
        <tr>
            <td>Username</td>
            <td><input type="text" class="form-control" name="username"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" class="form-control" name="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-success" formaction="./register"> Register</button></td>
        </tr>
    </form>
    </table>
</body>
</html>