{% extends 'main.html' %}
{% block myContent %}



    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-4 col-lg-4 col-xl-4">
            </div>
            <div class="col col-12 col-sm-4 col-lg-4 col-xl-4">
            <h1 style="color: blue ; font-size: xx-large; font-style: italic;" > </h1>


            <form action="http://127.0.0.1:8000/manufacture/add/" method="POST">


                <table class="table table-borderless">
                    <tr>
                        <td>Name</td>
                        <td> <input name="name" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td> <input name="address" type="text" class="form-control"></td>
                    </tr>
                    
                    <tr>
                        <td>Moblie number</td>
                        <td> <input name="mno" type="text" class="form-control"></td>

                    </tr>
                    <tr>
                        <td>Shop name</td>
                        <td> <input name="shopname" type="text" class="form-control"></td>

                    </tr>
                    <tr>
                        <td>username</td>
                        <td> <input name="username" type="text" class="form-control"></td>

                    </tr>
                    <tr>
                        <td>Password</td>
                        <td> <input name="password" type="text" class="form-control"></td>

                    </tr>
                    
                    <tr>
                        <td> </td>
                        <td> <center><button class="btn btn-danger">Register</button> </center>
                        </td>
                    </tr>
                </table>
            </form>
            </div>

            <div class="col col-12 col-sm-4 col-lg-4 col-xl-4">

            </div>
        </div>
    </div>

    {% endblock %}