{% extends 'main.html' %}
{% block myContent %}
<style>
    body{
        background-image: linear-gradient(#D38312,yellow );
        height: 100vh;
      }
    </style>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-lg-2 col-xl-2">
        </div>
        <div class="col col-12 col-sm-8 col-lg-8 col-xl-8">
          
          <form action="http://127.0.0.1:8000/manufacture/updateapi/" method="post">
            <h1 style="color: rgb(18, 214, 34) ; font-size: xx-large; font-style: initial;" ></h1>

          
            <table class="table table-borderless">
                
                <tr>
                    <td>Mobile no</td>
                    <td> <input name="mno" type="text" class="form-control"></td>
                </tr>
                
                <tr>
                    <td> </td>
                    <td> <center><button class="btn btn-danger">Search</button> </center> </td>
                </tr>
            </table>
        </form>

        {% if data %}
        

<form action="http://127.0.0.1:8000/manufacture/updatedata/" method="post">

    <table class="table">
        {% for i in data %}
        <tr>
            <td>ID</td>
            <td><input name="newid" value="{{i.id}}" type="hidden" class="form-control"></td>
        </tr>


    <tr>
        <td>Name</td>
        <td> <input name="newname"  value="{{i.name}}"type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td> <input name="newaddress" value="{{i.address}}"type="text" class="form-control"></td>
    </tr>
    
    <tr>
        <td>Mobli no</td>
        <td> <input name="newmno"value="{{i.mno}}"type="text" class="form-control"></td>

    </tr>
    <tr>
        <td>shop name</td>
        <td> <input name="newshop" value="{{i.shopname}}" type="text" class="form-control"></td>

    </tr>
    <tr>
        <td>username</td>
        <td> <input name="newuser"value="{{i.username}}" type="text" class="form-control"></td>

    </tr>
    <tr>
        <td>Password</td>
        <td> <input name="newpass"value="{{i.password}}" type="hidden" class="form-control"></td>

    </tr>
    
    
<tr>
    <td> 
    <td> <center><button class="btn btn-primary">Update</button> </center> </td>
</tr>
</form>
{% endfor %}

            </table>

{% endif %}

        </div>


        <div class="col col-12 col-sm-2 col-lg-2 col-xl-2">

        </div>
    </div>
</div>

{% endblock %}
