
{% extends 'header.html' %}

{% block mycontent %}

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">

        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
           <form action="http://127.0.0.1:8000/manufacturer/addd/" method="post">
            <table class="table table-borderless">
               <h2> <center> ADD SELLER</center> </h2>
                <tr>
                    <td> Seller Name  </td>
                    <td> <input name="name" class="form-control" type="text" required> </td>
                </tr>
                <tr>
                    <td> Address </td>
                    <td> <textarea name="address" id="" cols="30" rows="2" class="form-control" required></textarea> </td>
                </tr>
                <tr>
                    <td> Shop Name </td>
                    <td> <input name="shop_name" class="form-control" type="text" required> </td>
                </tr>
                <tr>
                    <td> Phone_Number </td>
                    <td> <input name="phone_no" class="form-control" type="text" required> </td>
                </tr>
                <tr>
                    <td> UserName </td>
                    <td> <input name="username" class="form-control" type="text" required> </td>
                </tr>
                <tr>
                    <td> Password </td>
                    <td> <input name="password" class="form-control" type="password" required> </td>
                </tr>
                    <td></td>
                    <td> <Button type="submit" class="btn btn-success">ADD SELLER</Button></td>
                </tr>
                </table>
           </form>
        </div>
        <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">

        </div>
    </div>
</div>
{% endblock %}