{% extends 'headerc.html' %}
{% block mycontent %}
<title>update page</title>

<div class="container">
    <body class="mycolor">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-xl-8 col-xxl-8">
            <form action="http://127.0.0.1:8000/bank/updatesearchapic/" method="POST">
                <table class="table table-borderless">
                    <tr>
                        <td style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:bold; color:navy;">Mobnum</td>
                        <td><input type="number" name="mobnum"class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-success">SEARCH</button></td>
                    </tr>
                </table>
            </form>

                {% if data %}
                <form action="http://127.0.0.1:8000/bank/updateactionc/" method="POST">
                    <table class="table table-borderless table-striped">
                        {% for i in data %}
                            <tr>
                                <td>id</td>
                                <td><input name="newid" value="{{i.id}}"type="number" class="form-control" readonly></td>
                            </tr>
                            <tr>
                                <td>Username</td>
                                <td><input name="newuser" value="{{i.username}}" type="text" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input name="newpass" value="{{i.password}}" type="text" class="form-control"></td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td><button class="btn btn-warning">UPDATE</button></td>
                            </tr>

                        {% endfor %}    
                    </table>
                </form>
                {% endif %}
        </div>
        
        <div class="col col-12 col-sm-2 col-md-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>






{% endblock %}
