

{% extends 'header.html' %} 

{% block myContent %}
<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-2 col-md-2">

    </div>
    <div class="col col-12 col-sm-8 col-md-8">
      <form action="http://127.0.0.1:8000/donor/dadd/" method="post">

        <table class="table table-boarderless">
          <tr>
            <td>Donor code</td>
            <td><input name="donorcode" type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>Name</td>
            <td><input name="name" type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>Address</td>
            <td><input name="address" type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>Mobile Number</td>
            <td><input name="mobilenumber" type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>Bloodgroup</td>
            <td><input name="bloodgroup" type="text" class="formcontrol"></td>
         </tr>
         <tr>
          <td>UserName</td>
          <td><input name="username" type="text" class="formcontrol"></td>
         </tr>
        <tr>
          <td>Password</td>
          <td><input name="password" type="text" class="formcontrol"></td>
        </tr>

          <tr>
            <td></td>
            <td><center>   <button type="submit" class="btn btn-success">SEND</button></center>  </td>
          </tr>
          <div class="col col-12 col-sm-2 col-md-2">

          </div>

        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}