{% extends 'header.html' %}
{% block myContent  %}

 <table class="table">

     <tr>
            <td> Id </td>
            <td>  {{ data.id }}  </td>
        </tr>
        <tr>
            <td> Name </td>
            <td> {{ data.name }}</td>
        </tr>
        <tr>
            <td> Class  </td>
            <td> {{ data.cls }}   </td>
        </tr>
        <tr>
            <td> adress  </td>
            <td> {{ data.address }}  </td>
        </tr>
        <tr>
            <td> mobile no  </td>
            <td>  {{ data.mno }}  </td>
        </tr>
    
        <tr>
            <td>Username </td>
            <td>  {{ data.username }}</td>
        </tr>

          <tr>
            <td> </td>
            <td>  <button class="btn btn-success"> Edit </button></td>
        </tr>
    </table>

{% endblock   %}


   
