<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Admin Login</title>
</head>
<body id="bg" style="background-color :powderblue;">
    <br>
                <h1 style="background-color:tomato;"><center>Bank Management System</center></h1>
                
                <br>

    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
               
            <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                
    
    <form action="http://127.0.0.1:8000/bank/login_check/" method="post">
                <table class="table table-borderless">
                    <h2>
                        <center>Admin Login</center>
                    </h2>
                    <tr>
                        <td>Username</td>
                        <td><input type="text" name="aname" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="pwd" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><center><button class="btn btn-dark">Login</button></center></td>
                    </tr>
                </table>
            </div>
            <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
            
        </div>
    </div>
</form>
<a href="http://127.0.0.1:8000/bank/home/"><button class="btn btn-secondary">Back to Home </button></a>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    
</body>
</html>