<!DOCTYPE html>
<html lang="en">
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD SELLER</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Company Management </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li> -->
              
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/manufacturer/selladdui/"><b>ADD SELLER</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/manufacturer/sellviewui/"><b>VIEW  SELLER</b></a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Edit Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/manufacturer/sellviewui/">VIEW SELLER</a></li>
                  
                </ul>
              </li> -->
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>  
    <form action="http://127.0.0.1:8000/manufacturer/selleradd/" method="post">
        <table class="table">
            <tr>
                <td>Name</td>
                <td><input name="sellname" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input name="selladdress" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Shop Name</td>
                <td><input name="shop_name" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Mobile No</td>
                <td><input name="sellmobile" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><input name="sellusername" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input name="sellpassword" type="text" class="form-control"></td>
            </tr>
            <tr>
                <td></td>
                <td><Button type="submit" class="btn btn-success">ADD</Button></td>
            </tr>
            
        </table>
          </form>  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>